html {
    min-height: 100%;
    position: relative;
  }
  
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  
  .footer-padding {
      padding-bottom: 60px;
  }
  
  .footer {
    display: flex;
      position: fixed;
      justify-content: center;
      bottom: 0;
      width: 100vw;
      height: 60px;
      background-color: #1abc9c;
  }
  
  .footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
  }
  
  .btn{
    border: 2px solid black;
  }

  .compose-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #c2e7ff; /* Gmail Blue */
    color: #043762;
    font-weight: bold;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }

  .compose-btn .plus-icon {
    font-size: 1.2rem;
    font-weight: bold;
}

.compose-btn:hover {
    background-color: #cee6fb;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

h3{
    color: grey;
}